html, body, h1, h2, h3, h4, ul, ol, li, p, a {
    padding: 0;
    border: 0;
    margin: 0;
}
html {
    background: #808080 url(bob.jpg);
}
a {
    color: #ffffff;
    text-decoration-line: none;
    font-size: 16pt;
    margin: 15px;
}
ul {
    text-align: center;
    background-color: #808080;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, "Times New Roman", sans-serif
}
h1 {
    color: #ffffff;
    text-align: center;
    padding-top: 125px;
    font-size: 40pt;
    font-family: Arial, "Times New Roman", sans-serif
}
p {
    color: #ffffff;
    text-align: center;
    padding-top: 7px;
    font-family: Arial, "Times New Roman", sans-serif
}
li {
    display: inline;
}